
Body {background-color: darkslategrey;}
p,h3,p,ol,pre {color: white;}
h1,h2,strong{font-family:fantasy;
color: aqua;}


	#links{
	float: left;
	width: 20%;
	margin: 0 0 0 1%;
			}
	#main {
	float: left;
	width: 45%;
	margin: 0 2.5%;
	color: white;
	}
	#news {
	float: left;
	width: 22.5%;
	margin: 0 2.5% 0 0;
	color: white;
		}
		#footer {
clear: left;
color:white;
	}
	a.smooth {
display: block;
text-decoration:none;
text-align: center;
padding: 1em 2em;
width: 8em;
border-radius: 1.5em;
color:darkmagenta;
background-color:bisque;
transition-property: background-color;
transition-duration: 0.3s;
}
a.smooth:hover, a.smooth:focus {
background-color:chartreuse;
}
