Body {background-color: darkslategrey;
font-size: large;}
p{color:white;}
h1,h2{font-family:fantasy;
color: aqua;}

	pre{color: red;}
	#links {
	float: right;
	width: 22.5%;
	margin: 0 0 0 2.5%;

			}
	#main {
	float: left;
	width: 70%;
	margin: 0 2.5%;
	}

	#footer {
	clear: left;
	color:deeppink;
		}
		a.smooth {
	display: block;
	text-decoration:none;
	text-align: center;
	padding: 1em 2em;
	width: 7em;
	border-radius: 1.5em;
	color:darkmagenta;
	background-color:bisque;
	transition-property: background-color;
	transition-duration: 0.3s;
	}
	a.smooth:hover, a.smooth:focus {
	background-color:chartreuse;
	}
